* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

/* App styles */

.app {

}

.app__title {
    text-align: center;
    padding: 10px 0;
}

.app__div-with-tables {
    position: relative;
    margin: 25px 0;
}


.header {
    position: relative;
}

/* Clock styles */

.header__clock {
    position: absolute;
    top: 10px;
    right: 10px;
}



/* TaskEditor styles */

.task-editor {
    width: 350px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 4px;
}

.task-editor::after {
    display: block;
    height: 0;
    width: 0;
    content: '';
    clear: both;
}

.task-editor__input {
    width: 100%;
    display: block;
    border: none;
    font-size: 15px;
    padding: 4px 5px;
    outline: none;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid black;    
}

.task-editor__text {
    width: 100%;
    display: block;
    border: none;
    resize: none;
    font-size: 15px;
    padding: 4px 5px;
    outline: none;
}

.task-editor__button {
    float: right;
    /* margin-bottom: 10px;
    margin-right: 10px; */
    border-radius: 4px;
    padding: 5px 6px;
    border: 1px solid black;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.task-editor__button:hover {
    background-color: #cacaca;
}

.task-editor__button:focus {
    background-color: #bdbdbd;
}

.task-editor__input-date {
    margin-left: 10px;
    width: 106px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 3px;
}

.task-editor__input-date::-webkit-datetime-edit {
    margin-left: 5px;
}

.task-editor__input-date::-webkit-inner-spin-button { display: none; }
.task-editor__input-date::-webkit-calendar-picker-indicator { margin: 0; padding: 0 3px 0 0; }

.task-editor__input-hours {
    width: 45px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 3px;
}
.task-editor__input-minutes {
    width: 45px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 3px;
}

.task-editor__input-checkbox {
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.task-editor__span {
    margin-left: 10px;
}

.task-editor__footer-inputs-buttons {
    border-top: 1px solid black;
    height: 38px;
}

.task-editor__footer-inputs-buttons::after {
    display: block;
    content: '';
    height: 0;
    width: 0;
    clear: both;
}

.task-editor__footer-inputs-buttons::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
}

/* CurrentTasks styles */

.current-tasks__table {
    text-align: center;
    width: 50%;
    float: left;
    table-layout: fixed;
    border-collapse: collapse;
}

.current-tasks__table tr {
    border-bottom: 1px solid black;
}

.current-tasks__table caption {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 18px;
    padding: 5px;
}

.current-tasks__table td, .current-tasks__table th {
    width: 18%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}


.current-tasks__table td:last-child, .current-tasks__table th:last-child {
    width: 10%;
}

.current-tasks__table td:nth-child(2) {
    white-space: nowrap;
}

/* div-with-tables styles */

.app__div-with-tables::after {
    content: '';
    display: block;
    clear: both;
}

.div-with-tables__border-between-tables {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: black;
}


/* FinishedTasks styles */

.finished-tasks__table {
    float: right;
    width: 50%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse
}

.finished-tasks__table tr {
    border-bottom: 1px solid black;
}

.finished-tasks__table caption {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 18px;
    padding: 5px;
}

.finished-tasks__table td, .finished-tasks__table th {
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}

.finished-tasks__table td:nth-child(2) {
    white-space: nowrap;
}


/* body input:focus:required:invalid,
body textarea:focus:required:invalid {
  border: 1px solid red; }

body input:required:valid,
body textarea:required:valid {
  border: 1px solid green; } */