// {
// 	"presets": [
// 		"react",
// 		"env"
// 	]
// }


// {
// 	"presets": [
// 		"react",
// 		"env"
// 	]
// }

{
	"env": {
	  "react": {
		"presets": ["react", "env"]
	  }
	}
  }